*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

html{
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --lightblue: #E0ECFF;
    --blue: #3485FF;
    --background-color: #FBFCFF;
    --overlay: #040911;
    --icon-datails:#A5B0C1;

    /* shades of gray */
    --gray-dark: #4D5E77;
    --gray-blue: #A1B2CD;
    --gray-medium: #D3D9E2;
    --gray-light:#E5EAF1;
    --gray-opac: #eaecf2;



 /*1rem = 16px = 100%(User Agent)*/
 font-size: 62.5%;

}
body{
    display: flex;
    height:100vh;
    background: var(--background-color);
}

body, buttom, input, textarea{
    
    font-size: clamp( 14px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
}

.screen-only{
   position: absolute;
   height:1px;
   width:1px;
   padding:0;
   margin: -1px;
   overflow: hidden;
   clip-path: rect(0, 0, 0, 0);
   white-space: nowrap;
   border-width: 0;
}
.content{
    width: 100%;
    margin: 0 auto;

}
.content header{
    width: 80%;  
    margin: 3.5rem auto;
}

.content header img{
    width: 16.7rem;
   
}
/*buttons*/
input, button, .btn{
    height:5rem;
    border-radius: .8rem;
}
button, .btn{
    font-family: 'Poppins';
    font-weight:500;
    line-height: 0;

    display: flex;
    align-items:center;
    justify-content: center;

    background: var(--blue);
    color: var(--white);

    cursor: pointer;

    transition:  0.3s;
}
button:hover, .btn:hover{
    filter: brightness(1.2);
}
button.red, .btn.red{
background: var(--red);
color: var(--white);
}
button.gray, .btn.gray{
    background: var(--gray-light);
    color: var(--gray-dark)
    
}
/*header*/
button > img,
.btn > img{
    margin-right:1rem;
    width: 2rem;  
}
button.outlined,
.btn.outlined{
    background: var(--white);
    color: var(--blue);
    border: .2rem solid var(--blue);
}