
<section>
    <h2>Crie sua propria sala</h2>
    <form action="/create-room" method="POST">
         <label class="screen-only" for="room-pass">Insira uma senha</label>
            <input type="password" name="password" id="room-pass" placeholder="Insira sua senha"></input>
            <button>
             <img src="images/usersW.svg" alt="Criar sala">
             Criar sala
            </button>
    </form>
</section>
            
            